<h1 style="font-size:250%; font-family:cursive; color:#ff6666;"><b>Introduction to Data Transformation <a id="1"></a></b></h1>

## What is Data Transformation?
Data Transformation is an important step in Data Preprocessing whihc involves converting data into a different format, making it more suitable for analysis. This is the setp where we change all the values of the dataset so that it can be used for further analysis while keeping the meaning of the data intact.

## Why Data Transformation?
Data Transformation is important because it helps in improving the accuracy of the model. It also helps in reducing the skewness of the data and makes the data more normal.

## Types of Data Transformation
1. Scaling

    - Standardization (Z-score Normalization)
    - Min-Max Scaling
    - Robust Scaling

2. Encoding

    - Label Encoding
    - One-Hot Encoding
    - Target Encoding
    - Frequency Encoding

3. Feature Transformation

    - Log Transformation
    - Square Root Transformation
    - Box-cox and Yeo-Johnson Transformation

# <h1 style="font-size:250%; font-family:cursive; color:#ff6666;">1. Scaling</h1>

Before we start with the scaling. Let's first understand what is scaling and why it is important. When working with datasets, it's common to encounter features with varying units and ranges. For example, one column might measure weight in pounds, while another measures height in centimeters. Similarly, some features can have vastly different value ranges — consider income, which might range from 50,000 to 100,000, versus age, which typically ranges from 0 to 100.

In such cases, the large numerical range of income can overshadow smaller values like age when these features are used in a machine learning model. This happens because most models give more weight to larger values, causing income to dominate predictions, even if it isn’t the most important feature.

This imbalance can distort the model’s understanding of the data and lead to biased predictions. For example, income might disproportionately influence the outcome, even if age is equally or more relevant as a predictor.

To prevent this and make sure all featuers contirbute equally to the model,we scale the data.

As mentioned above following are some commonly used scaling techniques:

- Standardization (Z-score Normalization)
- Min-Max Scaling
- Robust Scaling

<p style="font-size:120%; color:#f20808;" ><b>Note: We can only apply the scaling techniques on the numerical data.</b></p>

## <h3 style="font-size:200%; font-family:cursive; color:#ff6666;">1.1 Standardization (Z-score Normalization)</h3>

In Z-score normalization, the original data is transformed such that it has a mean of 0 and a standard deviation of 1. This is done by subtracting the mean of each data point and then dividing by the standard deviation.

The formula for Z-score normalization is given by:
$$ Z= \frac{ x-\mu}{\sigma}$$
where: 
- x is the data point <br>
- $\mu$ is the mean of the data <br>
- $\sigma$ is the standard deviation of the data <br>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../0.Global_Dataset/Life Expectancy Data.csv")

In [12]:
data_types = list(data.dtypes)

In [32]:
string_count = 0
numeric_count = 0
string_indices = []
numerics_indices = []

for idx, content in enumerate(data_types):  
    if content == "object":  
        string_count += 1
        string_indices.append(idx)  
    else:
        numeric_count += 1
        numerics_indices.append(idx)

print("There are", string_count, "string columns and", numeric_count, "numeric columns in the dataset.")
print("String columns are found at indices:", string_indices)

There are 2 string columns and 20 numeric columns in the dataset.
String columns are found at indices: [0, 2]

In [33]:
numerics_indices

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [35]:
sample_1= data.iloc[0:5, numerics_indices]

Now, we can use Z-score noramalization as we know which column is numerical and which is categorical. Also there is two ways to apply the Z-score normalization:
- Using StandardScaler from sklearn
- Using the formula

In [67]:
# using SKlearn fo z-score normalization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(sample_1)
sample_1_normalized = scaler.transform(sample_1)
sample_1_normalized = pd.DataFrame(sample_1_normalized, columns=sample_1.columns) # for easier visualization
sample_1_normalized.head(2)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,0.0,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,0.0,0.317545,1.287240,-1.468051,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,0.0,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,0.0,0.443278,-0.947703,-0.587220,-0.735767,0.840100,0.679900

So what is happening in the above code?

1. `scaler = StandardScaler()` :

We are creating an object of the StandardScaler class.

2. `scaler.fit(sample_1)` : 

    - The `fit` method calcualted the mean and standard deviation of the data. As we know that mean and standard deviation are the parameters of the Z-score normalization.
3. `sample_1_normalized = scaler.transform(sample_1)` :

    The `transform` mfethod standardizes the features in sample_1 using the previously calcualted mean and standard deviation. Each value is transfored using the formula mentioned above.

In [ ]:
# using manual formula for z-score normalization

def calc_z_score(data):
    mean = data.mean()
    std = data.std(ddof=0) #use population standard deviation  tryiung removing this and compare result with above one
    z_score = (data - mean) / std
    return z_score

sample_1_normalized_manual = sample_1.apply(calc_z_score)

In [65]:
sample_1_normalized_manual

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,NaN,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,NaN,0.317545,1.287240,-1.468051e+00,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,NaN,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,NaN,0.443278,-0.947703,-5.872202e-01,-0.735767,0.840100,0.679900
2,0.000000,-0.369327,-0.442326,-0.122628,NaN,0.467245,-0.561951,-1.028591,-0.029437,-0.120873,0.419186,-0.202882,-0.561951,NaN,0.527499,1.153125,-1.043113e-14,-0.122628,0.176863,0.194257
3,-0.707107,-0.553990,0.540621,0.797081,NaN,0.651969,0.842927,1.088409,-0.765368,0.684950,0.633057,1.681022,0.842927,NaN,0.696459,-0.722303,5.872202e-01,0.797081,-0.596913,-0.291386
4,-1.414214,-0.692488,1.277830,1.410220,NaN,-1.992863,1.311220,1.291397,-1.354113,1.490772,0.675831,-1.458818,1.311220,NaN,-1.984782,-0.770359,1.468051e+00,1.410220,-1.591768,-1.748315

In [66]:
sample_1_normalized

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,0.0,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,0.0,0.317545,1.287240,-1.468051e+00,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,0.0,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,0.0,0.443278,-0.947703,-5.872202e-01,-0.735767,0.840100,0.679900
2,0.000000,-0.369327,-0.442326,-0.122628,0.0,0.467245,-0.561951,-1.028591,-0.029437,-0.120873,0.419186,-0.202882,-0.561951,0.0,0.527499,1.153125,-1.043113e-14,-0.122628,0.176863,0.194257
3,-0.707107,-0.553990,0.540621,0.797081,0.0,0.651969,0.842927,1.088409,-0.765368,0.684950,0.633057,1.681022,0.842927,0.0,0.696459,-0.722303,5.872202e-01,0.797081,-0.596913,-0.291386
4,-1.414214,-0.692488,1.277830,1.410220,0.0,-1.992863,1.311220,1.291397,-1.354113,1.490772,0.675831,-1.458818,1.311220,0.0,-1.984782,-0.770359,1.468051e+00,1.410220,-1.591768,-1.748315

We can also use z-score normalization to normalize only a single column. For that while we apply the `fit` method we need to reshape the data, we only pass the desird column. Not only for single column but you can pass desired number of columns to transform. This is important becaause sometimes we dont want to normalize all the columns.

In [69]:
scalar_onecolumn = StandardScaler()
scalar_onecolumn.fit(sample_1[['Adult Mortality']])
sample_1_normalized_onecolumn = scalar_onecolumn.transform(sample_1[['Adult Mortality']])
sample_1_normalized_onecolumn = pd.DataFrame(sample_1_normalized_onecolumn, columns=['Adult Mortality'])
sample_1_normalized_onecolumn.head()

   Adult Mortality
0        -1.671009
1         0.294884
2        -0.442326
3         0.540621
4         1.277830

## [Goto Top](#1)

## <h3 style="font-size:200%; font-family:cursive; color:#ff6666;">1.2 Min-Max Scaling</h3>

In Min-Max scaling, the data is scaled to a fixed range — usually 0 to 1. This is done by subtracting the minimum value of the data and then dividing by the range. The range is calculated as the difference between the maximum and minimum values.

The formula for Min-Max scaling is given by:
$$ X_{norm} = \frac{X - X_{min}}{X_{max} - X_{min}}$$

where: 

- X is the data point, 
- X_min is the minimum value of the data, 
- and X_max is the maximum value of the data.

Like Z-score normalization we can also apply Min-Max scaling in two ways:
- Using MinMaxScaler from sklearn
- Using the formula

In [70]:
# Using the sklearn library

from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
min_max_scaler.fit(sample_1)
sample_1_normalized_minmax = min_max_scaler.transform(sample_1)
sample_1_normalized_minmax = pd.DataFrame(sample_1_normalized_minmax, columns=sample_1.columns)
sample_1_normalized_minmax.head(2)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.00,1.00000,0.000000,0.000000,0.0,0.902871,0.5,0.280294,1.000000,0.000000,0.00000,0.446154,0.5,0.0,0.858680,1.0,0.0,0.000000,1.00,1.000000
1,0.75,0.12069,0.666667,0.222222,0.0,0.934438,0.0,0.024003,0.736842,0.214286,0.83871,0.476923,0.0,0.0,0.905573,0.0,0.3,0.222222,0.88,0.833333

In [71]:
# manual min-max normalization

def calc_min_max(data):
    min_val = data.min()
    max_val = data.max()
    min_max = (data - min_val) / (max_val - min_val)
    return min_max
sample_1_normalized_manual_minmax = sample_1.apply(calc_min_max)
sample_1_normalized_manual_minmax.head(2)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.00,1.00000,0.000000,0.000000,NaN,0.902871,0.5,0.280294,1.000000,0.000000,0.00000,0.446154,0.5,NaN,0.858680,1.0,0.0,0.000000,1.00,1.000000
1,0.75,0.12069,0.666667,0.222222,NaN,0.934438,0.0,0.024003,0.736842,0.214286,0.83871,0.476923,0.0,NaN,0.905573,0.0,0.3,0.222222,0.88,0.833333

## [Goto Top](#1)

## 
<h3 style="font-size:200%; font-family:cursive; color:#ff6666;""><b>1.3 Robust Scaling </b></h3>

Robust Scaling is another type of scaling that is used to scale the features to median and quantiles. It is robust to outliers. It is used when the data has outliers. The formula for Robust Scaling is given by:

$$ X_{norm} = \frac{X - median(X)}{Q3(X) - Q1(X)}$$

where: 
- X is the data point,
- median(X) is the median of the data,
- Q1(X) is the first quantile of the data,
- and Q3(X) is the third quantile of the data.

or simply the denominator can be written as IQR (Interquartile Range) which is the difference between the third and first quantile.

In [72]:
# using the sklearn library
from sklearn.preprocessing import RobustScaler

robust_scaler = RobustScaler()
robust_scaler.fit(sample_1)
sample_1_normalized_robust = robust_scaler.transform(sample_1)
sample_1_normalized_robust = pd.DataFrame(sample_1_normalized_robust, columns=sample_1.columns)
sample_1_normalized_robust.head(2)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.0,12.75,-2.0,-0.8,0.0,-0.864374,0.0,0.000000,1.0,-0.857143,-6.222222,0.0,0.0,0.0,-0.59886,1.044741,-1.25,-0.8,0.692308,1.0
1,0.5,0.00,0.0,-0.4,0.0,0.135626,-1.0,-0.288453,0.5,-0.428571,-0.444444,0.4,-1.0,0.0,0.00000,-0.117183,-0.50,-0.4,0.461538,0.5

## [Goto Top](#1)


# <h1 style="font-size:250%; font-family:cursive; color:#ff6666;">2. Encoding</h1>

Computers can only process numerical values, but real-world data is always not in numeric form. For instance, categories like names, colors, or product types are non-numeric by nature. To make this data usable in machine learning, we need to convert it into numerical form. This process is called encoding. Encoding bridges the gap between raw data and machine learning algorithms by translating non-numeric data into numeric representations.

Below are some commonly used encoding techniques:

1. Label Encoding
2. One-Hot Encoding
3. Target Encoding
4. Frequency Encoding

## <h3 style="font-size:200%; font-family:cursive; color:#ff6666;">2.1 Label Encoding</h3>

Label encoding assigns a unique numerical value to each category in a column. For example, if we have a column for colors like Red, Green, and Blue, the encoding might look like this:
|Color|Encoded|
|-----|-------|
|Red  | 0     |
|Green| 1     |
|Blue | 2     |

We can observe that here the ordinal relationship is created between the categories.

In [79]:
#first creating a sample dataset using above dataframe

sample_encoding = data.sample(frac=1).iloc[0:5]
sample_encoding.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2787,United Republic of Tanzania,2006,Developing,53.1,437.0,96,4.07,0.000000,9.0,2362,...,91.0,6.86,9.0,9.4,NaN,NaN,7.6,7.5,NaN,NaN
1818,Nepal,2010,Developing,68.0,178.0,23,0.24,84.623025,82.0,190,...,83.0,6.43,82.0,0.2,592.183522,2723137.0,16.7,17.2,0.515,11.1
576,Colombia,2015,Developing,74.8,143.0,10,NaN,0.000000,91.0,1,...,91.0,NaN,91.0,0.1,644.525556,48228697.0,2.1,1.9,0.724,13.6
721,Democratic Republic of the Congo,2015,Developing,59.8,258.0,236,NaN,0.000000,81.0,5020,...,78.0,NaN,81.0,1.1,NaN,NaN,9.5,9.3,NaN,NaN
55,Angola,2008,Developing,48.7,371.0,84,7.07,249.910196,69.0,265,...,65.0,3.84,69.0,2.6,3868.578883,2175942.0,9.5,9.4,0.468,8.1

In [92]:
# using skelarn library
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(sample_encoding['Country'])
sample_encoding['Country_encoded'] = le.transform(sample_encoding['Country'])
sample_encoding[['Country', 'Country_encoded']]

                               Country  Country_encoded
2787       United Republic of Tanzania                4
1818                             Nepal                3
576                           Colombia                1
721   Democratic Republic of the Congo                2
55                              Angola                0

## <h3 style='font-size:200%; font-famliy:cursive; color:#ff6666;'> 2.2 One-Hot Encoding</h3>

One-hot encoding creates new columns for each category, assigning a 1 or 0 depending on whether a row belongs to that category. For the same color column:
|Color|Red|Green|Blue|
|-----|---|-----|----|
|Red  | 1 | 0   | 0  |
|Green| 0 | 1   | 0  |
|Blue | 0 | 0   | 1  |

If there are n categories in a column, one-hot encoding will create n new columns. This technique is useful when there is no ordinal relationship between the categories. As this method will create n new columns, it is not recommended to use this method when there are a large number of categories in a column.

In [93]:
# Using pandas library for one-hot encoding

sample_encoding_onehot = pd.get_dummies(sample_encoding, columns=['Country'])
sample_encoding_onehot.head(2)

,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,...,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Country_encoded,Country_Angola,Country_Colombia,Country_Democratic Republic of the Congo,Country_Nepal,Country_United Republic of Tanzania
2787,2006,Developing,53.1,437.0,96,4.07,0.000000,9.0,2362,18.6,...,7.6,7.5,NaN,NaN,4,False,False,False,False,True
1818,2010,Developing,68.0,178.0,23,0.24,84.623025,82.0,190,16.4,...,16.7,17.2,0.515,11.1,3,False,False,False,True,False

## <h3 style="font-size:200%; font-family:cursive; color:#ff6666;">2.3 Target/ Mean Encoding</h3>

The main idea behind the target encoder is to encode the categories by replacing them for a measurement of the effect they might have on the target. Target encoding replaces each category with the mean of the target variable for that category.

Eg: Data Before Target Encoding:
|Favorite Color|Loves Ice-cream|
|--------------|---------------|
|Blue          | 1             |
|Red           | 0             |
|Green         | 1             |
|Blue          | 0            |
|Green         | 1             |
|Green         | 0           |
|Blue          | 0             |

Now what we do is we calculate the mean of the target variable for each category and replace the category with the mean of the target variable. In above case
- Mean of Blue = 0.33 as Blue has 3 rows and 1  Loves Ice-cream
- Mean of Red = 0 as Red has 1 row and 0 Loves Ice-cream
- Mean of Green = 0.66 as Green has 3 rows and 2 Loves Ice-cream

So we now replace the categories with the mean of the target variable. The data after target encoding will look like this:
|Favorite Color|Loves Ice-cream|
|--------------|---------------|
|0.33          | 1             |
|0             | 0             |
|0.66          | 1             |
|0.33          | 0            |
|0.66          | 1             |
|0.66          | 0           |
|0.33          | 0             |


Good thing about Target Encoding is that:
- Captures the relationship between the category and the target variable.
- Reduces dimensionality compared to one-hot encoding.

In [111]:
# Implmenting Taeget Encoding
new_data = {
    'Favorite Color': ['Blue','Red','Green','Blue','Green','Green','Blue'],
    "Loves Ice Cream": [1,0,1,0,1,0,0]
    
}

df = pd.DataFrame(new_data)
target_means= df.groupby('Favorite Color')['Loves Ice Cream'].mean()

df['Favorite Color Encoded'] = df['Favorite Color'].map(df.groupby('Favorite Color')['Loves Ice Cream'].mean())

In [114]:
target_means

Favorite Color
Blue     0.333333
Green    0.666667
Red      0.000000
Name: Loves Ice Cream, dtype: float64

In [106]:
df

  Favorite Color  Loves Ice Cream  Favorite Color Encoded
0           Blue                1                0.333333
1            Red                0                0.000000
2          Green                1                0.666667
3           Blue                0                0.333333
4          Green                1                0.666667
5          Green                0                0.666667
6           Blue                0                0.333333

## <h3 style="font-size:200%; font-family:cursive; color:#ff6666;">2.4 Frequency Encoding</h3>

Frequency encoding, often known as count encoding, is a common method employed in handling
categorical data in machine learning. In frequency encoding, we replace each category with the
count of how often it appears in the dataset. In other words, we substitute the category with its
frequency.

Suppose we have a data column called (fruit' with three types of fruits — apple, banana, and cherry.
If the apple appears 50 times, the banana appears 30 times, and the cherry appears 20 times, in
frequency encoding, we replace 'apple' with '50', 'banana' with '30' and 'cherry' with '20'

|Fruit|Frequency|
|-----|---------|
|Apple| 50      |
|Banana| 30     |
|Cherry| 20     |

In [119]:
frequency = data['Country'].value_counts()
data['Country Frequency'] = data['Country'].map(frequency)

In [120]:
data

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,Country Frequency
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,16
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,16
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,16
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,16
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,16
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,16
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0,16
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,16
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,16

Drawbacks and Limitations
While frequency encoding has numerous advantages, it also comes with its own set of limitations:

1. Doesn't Handle Unseen Categories: 

    A limitation of frequency encoding is that it doesn't
    handle unseen categories well. When the model encounters a category that was not present in
    the training data, it won't know how to encode it, since there is no frequency associated with
    it.

2. Loss of Unique Categories:

    When two categories have the same frequency in the dataset, they
    will be represented by the same number after frequency encoding. This can lead to a loss of
    valuable information, as the model might treat these two distinct categories as the same.

3. Risk of Overfitting: 

    If a category appears only a few times in the dataset, its frequency might
    not be a good representation of its importance. This could lead to overfitting, where the model
    learns to rely too much on these infrequent categories.

4. Not Suitable for Ordinal Variables: 

    Frequency encoding is not suitable for ordinal variables.
    Ordinal variables have a natural order (for example, 'low', 'medium', and 'high'). Using
    frequency encoding for such variables might disrupt this natural order, leading to incorrect
    learning by the model.