<h1 style="font-size:250%; font-family:cursive; color:#ff6666;"><b>Introduction to Data Transformation <a id="5"></a></b></h1>

## What is Data Transformation?
Data Transformation is an important step in Data Preprocessing whihc involves converting data into a different format, making it more suitable for analysis. This is the setp where we change all the values of the dataset so that it can be used for further analysis while keeping the meaning of the data intact.

## Why Data Transformation?
Data Transformation is important because it helps in improving the accuracy of the model. It also helps in reducing the skewness of the data and makes the data more normal.

## Types of Data Transformation
1. Scaling

    - Standardization (Z-score Normalization)
    - Min-Max Scaling
    - Robust Scaling

2. Encoding

    - Label Encoding
    - One-Hot Encoding
    - Target Encoding
    - Frequency Encoding

3. Feature Transformation

    - Log Transformation
    - Square Root Transformation
    - Box-cox and Yeo-Johnson Transformation

<h1 style="font-size:250%; font-family:cursive; color:#ff6666;">1. Scaling</h1>

Before we start with the scaling. Let's first understand what is scaling and why it is important. When working with datasets, it's common to encounter features with varying units and ranges. For example, one column might measure weight in pounds, while another measures height in centimeters. Similarly, some features can have vastly different value ranges — consider income, which might range from 50,000 to 100,000, versus age, which typically ranges from 0 to 100.

In such cases, the large numerical range of income can overshadow smaller values like age when these features are used in a machine learning model. This happens because most models give more weight to larger values, causing income to dominate predictions, even if it isn’t the most important feature.

This imbalance can distort the model’s understanding of the data and lead to biased predictions. For example, income might disproportionately influence the outcome, even if age is equally or more relevant as a predictor.

To prevent this and make sure all featuers contirbute equally to the model,we scale the data.

As mentioned above following are some commonly used scaling techniques:

- Standardization (Z-score Normalization)
- Min-Max Scaling
- Robust Scaling

<p style="font-size:120%; color:#f20808;" ><b>Note: We can only apply the scaling techniques on the numerical data.</b></p>

<h3 style="font-size:200%; font-family:cursive; color:#ff6666;">1.1 Standardization (Z-score Normalization)</h3>

In Z-score normalization, the original data is transformed such that it has a mean of 0 and a standard deviation of 1. This is done by subtracting the mean of each data point and then dividing by the standard deviation.

The formula for Z-score normalization is given by:
$$ Z= \frac{ x-\mu}{\sigma}$$
where: 
- x is the data point <br>
- $\mu$ is the mean of the data <br>
- $\sigma$ is the standard deviation of the data <br>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("../0.Global_Dataset/Life Expectancy Data.csv")

In [12]:
data_types = list(data.dtypes)

In [32]:
string_count = 0
numeric_count = 0
string_indices = []
numerics_indices = []

for idx, content in enumerate(data_types):  
    if content == "object":  
        string_count += 1
        string_indices.append(idx)  
    else:
        numeric_count += 1
        numerics_indices.append(idx)

print("There are", string_count, "string columns and", numeric_count, "numeric columns in the dataset.")
print("String columns are found at indices:", string_indices)

There are 2 string columns and 20 numeric columns in the dataset.
String columns are found at indices: [0, 2]

In [33]:
numerics_indices

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [35]:
sample_1= data.iloc[0:5, numerics_indices]

Now, we can use Z-score noramalization as we know which column is numerical and which is categorical. Also there is two ways to apply the Z-score normalization:
- Using StandardScaler from sklearn
- Using the formula

In [67]:
# using SKlearn fo z-score normalization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(sample_1)
sample_1_normalized = scaler.transform(sample_1)
sample_1_normalized = pd.DataFrame(sample_1_normalized, columns=sample_1.columns) # for easier visualization
sample_1_normalized.head(2)

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,0.0,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,0.0,0.317545,1.287240,-1.468051,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,0.0,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,0.0,0.443278,-0.947703,-0.587220,-0.735767,0.840100,0.679900

So what is happening in the above code?

1. `scaler = StandardScaler()` :

We are creating an object of the StandardScaler class.

2. `scaler.fit(sample_1)` : 

    - The `fit` method calcualted the mean and standard deviation of the data. As we know that mean and standard deviation are the parameters of the Z-score normalization.
3. `sample_1_normalized = scaler.transform(sample_1)` :

    The `transform` mfethod standardizes the features in sample_1 using the previously calcualted mean and standard deviation. Each value is transfored using the formula mentioned above.

In [ ]:
# using manual formula for z-score normalization

def calc_z_score(data):
    mean = data.mean()
    std = data.std(ddof=0) #use population standard deviation  tryiung removing this and compare result with above one
    z_score = (data - mean) / std
    return z_score

sample_1_normalized_manual = sample_1.apply(calc_z_score)

In [65]:
sample_1_normalized_manual

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,NaN,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,NaN,0.317545,1.287240,-1.468051e+00,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,NaN,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,NaN,0.443278,-0.947703,-5.872202e-01,-0.735767,0.840100,0.679900
2,0.000000,-0.369327,-0.442326,-0.122628,NaN,0.467245,-0.561951,-1.028591,-0.029437,-0.120873,0.419186,-0.202882,-0.561951,NaN,0.527499,1.153125,-1.043113e-14,-0.122628,0.176863,0.194257
3,-0.707107,-0.553990,0.540621,0.797081,NaN,0.651969,0.842927,1.088409,-0.765368,0.684950,0.633057,1.681022,0.842927,NaN,0.696459,-0.722303,5.872202e-01,0.797081,-0.596913,-0.291386
4,-1.414214,-0.692488,1.277830,1.410220,NaN,-1.992863,1.311220,1.291397,-1.354113,1.490772,0.675831,-1.458818,1.311220,NaN,-1.984782,-0.770359,1.468051e+00,1.410220,-1.591768,-1.748315

In [66]:
sample_1_normalized

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,1.414214,1.985132,-1.671009,-1.348907,0.0,0.395080,-0.093659,-0.378312,1.442425,-1.329608,-1.976164,-0.057966,-0.093659,0.0,0.317545,1.287240,-1.468051e+00,-1.348907,1.171718,1.165543
1,0.707107,-0.369327,0.294884,-0.735767,0.0,0.478568,-1.498537,-0.972904,0.706494,-0.725241,0.248090,0.038644,-1.498537,0.0,0.443278,-0.947703,-5.872202e-01,-0.735767,0.840100,0.679900
2,0.000000,-0.369327,-0.442326,-0.122628,0.0,0.467245,-0.561951,-1.028591,-0.029437,-0.120873,0.419186,-0.202882,-0.561951,0.0,0.527499,1.153125,-1.043113e-14,-0.122628,0.176863,0.194257
3,-0.707107,-0.553990,0.540621,0.797081,0.0,0.651969,0.842927,1.088409,-0.765368,0.684950,0.633057,1.681022,0.842927,0.0,0.696459,-0.722303,5.872202e-01,0.797081,-0.596913,-0.291386
4,-1.414214,-0.692488,1.277830,1.410220,0.0,-1.992863,1.311220,1.291397,-1.354113,1.490772,0.675831,-1.458818,1.311220,0.0,-1.984782,-0.770359,1.468051e+00,1.410220,-1.591768,-1.748315

We can also use z-score normalization to normalize only a single column. For that while we apply the `fit` method we need to reshape the data, we only pass the desird column. Not only for single column but you can pass desired number of columns to transform. This is important becaause sometimes we dont want to normalize all the columns.

In [69]:
scalar_onecolumn = StandardScaler()
scalar_onecolumn.fit(sample_1[['Adult Mortality']])
sample_1_normalized_onecolumn = scalar_onecolumn.transform(sample_1[['Adult Mortality']])
sample_1_normalized_onecolumn = pd.DataFrame(sample_1_normalized_onecolumn, columns=['Adult Mortality'])
sample_1_normalized_onecolumn.head()

   Adult Mortality
0        -1.671009
1         0.294884
2        -0.442326
3         0.540621
4         1.277830